#detailsContainer{
    width: 100%;
    min-height: 100vh;
    display: grid;
    place-items: center;
    padding-top: 150px;
    padding-bottom: 150px;

}

#loading{
    position: absolute;
    top:45%;
    z-index: 0;
}