.mainpage{
    width: 100%;
    min-height: 100vh;
    display: grid;
    place-items: center;
    padding-top: 150px;
    padding-bottom: 150px;
    background-image: linear-gradient(to top, lightblue 0%, white 100%);
}
#row{
    display: grid;
    place-items: center;
    min-width: 100vw;
}
#row2{
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    grid-template-columns: repeat(auto-fill, minmax(20%, auto));
    gap: 20px;
    margin-left: 100px;
    
}
.intro{
    display: grid;
    place-items: center;
}
#exploreBTN{
    border-radius: 12px;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0.01em;
    padding: 17px 24px;
    background-color: lightblue;
    border: none;
    color: rgb(255, 255, 255);
    margin-top: 24px;
    margin-right: 10px;
}
#exploreBTN:hover{
    background-color: blue;
    cursor: pointer;
}
#createBTN{
    border-radius: 12px;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0.01em;
    padding: 17px 24px;
    background-color: lightgray;
    border: none;
    color: rgb(255, 255, 255);
    margin-top: 24px;
    margin-left: 10px;
}
#createBTN:hover{
    background-color: blue;
    cursor: pointer;
}
.snow{
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
    animation: snow 10s linear  infinite;
}

@keyframes snow {
    0%{
        opacity: 0;
        transform: translateY(0);
    }
    20%{
        opacity: 1;
        transform: translate(-15px, 20vh);
    }
    40%{
        opacity: 1;
        transform: translate(15px, 40vh);
    }
    60%{
        opacity: 1;
        transform: translate(-15px, 60vh);
    }
    80%{
        opacity: 1;
        transform: translate(15px, 80vh);
    }
    100%{
        opacity: 1;
        transform: translateY(100vh);
    }
}
