.category-set {
    margin-top: 3px;
    margin-left: 50px;
  }
  
  .category-child {
    margin: 5px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding-left: 0;
    border: 1px solid grey;
    background-color: #fff;
    width: 130px;
    height: 40px;
    border-radius: 50px;
  }
  
  .category-child:hover {
    font-weight: bolder;
    border-color: black;
  }
  
  .selected {
    border-style: none;
    font-weight: 800;
    background: rgb(96, 148, 218);
    color: #fff;
  }