.collected__NFT--searchbox{
  position: relative;
  top: 30px;
  width: 500px;
  height: 30px;
  border-width: 2px;
  border-radius: 10px;
  border-color: rgba(128, 128, 128, 0.265);
}

.collected__NFT--search__button{
  position: relative;
  top: 30px;
  width: 100px;
  height: 35px;
  background-color: white;
  border-color: white;
  border-radius: 10px;
  font-family: sans-serif;
  font-size: 15px;
  font-weight: bold;
  color: grey;
  transition-property: color;
}

.collected__NFT--search__button:hover{
  color: rgb(3, 30, 87);
}

.collected__NFT--list{
  position: relative;
  top: 50px;
  border-style: solid;
  border-radius: 20px;
  border-color: rgba(128, 128, 128, 0.265);
  width: 90vw;
  height: 30vw;
}

.collected__noitems{
  position: relative;
  top: 100px;
  left: 32vw;
  font-size: 30px;
  color: rgb(3, 30, 87);
}
