.collected__menuline{
  border-style: solid;
  border-color: rgb(3, 30, 87);
  position: relative;
  left: 9px;
  top: -3px;
  width: 80px;
}

.collected__NFT--searchbox{
  position: relative;
  top: 30px;
  width: 500px;
  height: 30px;
  border-width: 2px;
  border-radius: 10px;
  border-color: rgba(128, 128, 128, 0.265);
}

.collected__NFT--search__button{
  position: relative;
  top: 30px;
  width: 100px;
  height: 35px;
  background-color: white;
  border-color: white;
  border-radius: 10px;
  font-family: sans-serif;
  font-size: 15px;
  font-weight: bold;
  color: grey;
  transition-property: color;
}

.collected__NFT--search__button:hover{
  color: rgb(3, 30, 87);
}

.collected__NFT--list{
  position: relative;
  top: 50px;
  width: 100%;
  height: 30vw;
  flex-wrap: wrap;
  display: flex;
}

.collected__NFT--item{
  background-color: white;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
  padding:20px;
  border-radius: 23px;
  max-width: 250px;
  margin: 20px;
}

.collected__NFT--itemImg{
  
}

.collected__NFT--thumbnail{
  max-width: 200px;
  height: 230px;
}

.collected__noitems{
  position: relative;
  top: 100px;
  left: 32vw;
  font-size: 30px;
  color: rgb(3, 30, 87);
}
