.erc721list {
    position: relative;
    top: 50px;
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    min-height: 100vh;
    margin-bottom: 280px;
}

.erc721token {
    background-color: white;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
    padding: 20px;
    border-radius: 23px;
    max-width: 250px;
    margin: 20px;
    position: relative;
    height: 310px;
    text-align: center;
}

.created__NFT--thumbnail {
    object-fit: cover;
    width: 200px;
    height: 200px;
    border-radius: 20px;

}

.nft {
    font-size: 20px;
    color: black;
    font-weight: bold;
}

.name {
    font-size: 15px;
    color: lightblue;
}

.sendErc20Btn {
    box-shadow: 0px 0px 0px 0px lightblue;
    background: lightblue;
    cursor: pointer;
    border-radius: 5px;
    border-color: white;
}

.sendErc20Btn:hover {
    margin-top: 5px;
    margin-bottom: 5px;
}

.tokenTransfer {
    font-family: sans-serif;
    font-weight: bold;
}

.send-input {
    border-radius: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
}