.created__menuline {
    border-style: solid;
    border-color: rgb(3, 30, 87);
    position: relative;
    left: 108px;
    top: -3px;
    width: 80px;
}

.created__NFT--searchbox {
    position: relative;
    top: 30px;
    width: 500px;
    height: 30px;
    border-width: 2px;
    border-radius: 10px;
    border-color: rgba(128, 128, 128, 0.265);
}

.created__NFT--search__button {
    position: relative;
    top: 30px;
    width: 100px;
    height: 35px;
    background-color: white;
    border-color: white;
    border-radius: 10px;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: grey;
    transition-property: color;
}

.created__NFT--search__button:hover {
    color: rgb(3, 30, 87);
}

.created__NFT--list,
.erc721list {
    position: relative;
    top: 50px;
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    min-height: 100vh;
    margin-bottom: 280px;
}

.created__NFT--item,
.erc721token {
    background-color: white;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
    padding: 20px;
    border-radius: 23px;
    max-width: 250px;
    margin: 20px;
    position: relative;
}

.created__NFT--thumbnail {
    max-width: 200px;
    height: 230px;
}

.name {
    margin-top: 7px;
    font-size: 15px;
    font-weight: bold;
}

.nft {
    margin-top: 2px;
    font-size: 15px;
    font-weight: bolder;
}

#price {
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
}

.created__noitems {
    position: relative;
    top: 100px;
    left: 32vw;
    font-size: 30px;
    color: rgb(3, 30, 87);
}