.Footer{
    width: 100%;
    background-color: lightblue;
    color: black;
    padding-top:20px;
}
#row{
    padding-bottom: 50px;
    display: flex;
    column-gap: 300px;
    grid-template-columns: auto auto auto auto;
    justify-content: center;
    align-items: center;
}
.col{
    grid-column: auto;
    text-align: center;
    vertical-align: middle;

}

#description{
    width:300px;
}
#col4{
    color: white;
}