#itemContainer{
    background-color: white;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    padding:20px;
    border-radius: 23px;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0); 
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}
#itemContainer:hover{
    cursor: pointer;
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}
#thumbnail{
    object-fit: cover;
    width:200px;
    height:200px;
}

.row{
    margin-top:100px;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    grid-template-columns: repeat(auto-fill, minmax(20%, auto));
    gap: 20px;
}

@keyframes bounce {
	0%, 100%, 20%, 50%, 80% {
		-webkit-transform: translateY(0);
		-ms-transform:     translateY(0);
		transform:         translateY(0)
	}
	40% {
		-webkit-transform: translateY(-30px);
		-ms-transform:     translateY(-30px);
		transform:         translateY(-30px)
	}
	60% {
		-webkit-transform: translateY(-15px);
		-ms-transform:     translateY(-15px);
		transform:         translateY(-15px)
	}
}