.nft__profile--image {
    box-sizing: border-box;
    display: inline-block;
    overflow: hidden;
    width: 70px;
    height: 70px;
    background: none;
    opacity: 1;
    border: 0px;
    margin: 0px;
    padding: 0px;
    position: relative;
}

.nft__background--image {
    box-sizing: border-box;
    display: block;
    overflow: hidden;
    width: 300px;
    height: initial;
    background: none;
    opacity: 1;
    border: 0px;
    margin: 0px;
    padding: 0px;
    position: relative;
    inset: 0px;
}

.author {
    display: block;
    -webkit-box-align: center;
    align-items: center;
    margin: 0px;
    padding-left: 16px;
    overflow: hidden;
    word-break: break-all;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: left;
}
